@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.mapDiv> {
    height: 1000px;
    margin-bottom: 12vh;
}

.titleChooseLocation {
    margin: 0px;
    font-size: 3em;
    margin-left: 9vw;
}

.red {
    color: #DC0000;
}

.white {
    color: #FFFFFF
}

.header {
    position: relative;
    height: 500px;
    width: 100%;
}

#studio {
    position: absolute;
    left: 20px;
    object-position: 0px 0px;
    width: 30%;
    z-index: 1;
}

#startup {
    position: absolute;
    object-position: 0px 0px;
    width: 100%;
    z-index: 0;
}

.title {
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    left: 25vw;
    top: 20vh;
    font-size: 70px;
}

#findLoc {
    z-index: 5;
    background-color:#DC0000;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left: 40vw;
    top: 50vh;
    width: 20vw;
    height: 7vh;
    border: none;
}

.BC { 
    left: 100px;
    top: 800px;
    position: absolute;
    height: 100%;
}

#bc {
    width: 70%;
    background-size: contain;
}

#marker1 {
    width: 30px;
    position: absolute;
    left: 18vw;
    top: 37vh;
}

#label1 {
    position: absolute;
    color: #DC0000;
    font-weight: bold;
    left: 15vw;
    top: 32vh;
}

.ALB {
    position: absolute;
    left: 500px;
    top: 800px;
    height: 100%;
}

#alb {
    width: 70%;
    background-size: contain;
}

#marker2 {
    width: 30px;
    position: absolute;
    left: 13vw;
    top: 40vh;
}

.ON {
    position: absolute;
    left: 800px;
    top: 800px;
    height: 100%;
}

#on {
    width: 100%;
    background-size: contain;
}

#marker3 {
    position: absolute;
    width: 30px;
    left: 30vw;
    top: 38vh;
}

#marker4 {
    position: absolute;
    width: 30px;
    left: 27vw;
    top: 42vh;
}

#marker5 {
    position: absolute;
    width: 30px;
    left: 25vw;
    top: 46vh;
}

#marker6 {
    position: absolute;
    width: 32px;
    left: 26vw;
    top: 44vh;
}

#marker7 {
    position: absolute;
    width: 30px;
    left: 24vw;
    top: 50vh;
}

#location {
    position: absolute;
    top: 100vh;
    left: 25vw;
}

.text{
    position: absolute;
    top: 200vh;
    height: 100%;
    width: 100%;
}

#info {
    font-family: 'DM Sans', sans-serif;
    color: gray;
    font-weight: lighter;
    padding: 50px;
    width: 70vw;
    margin-left: 10vw;
    text-align: center;
    margin-top: -10vh;
}
