.mapDiv> {
    margin-bottom: 12vh;
}

.titleChooseLocation {
    margin: 0px;
    font-size: 3em;
    margin-left: 9vw;
}

.red {
    color: red;
}

.title {
    margin: 0px;
    margin-top: 7vh;
    font-size: 4em;
    margin-left: 9vw;
    margin-bottom: 1vw;
}

#studio {
    position: absolute;
    object-position: 20px 20px;
}

#startup {
    position: absolute;
    object-position: 0px 0px;
    width: 100%;
}

.shade {
    position: absolute;
    width: 100%;
    opacity: 50%;
    color: black;
}

#marker {
    position: absolute;
    object-position: 10px 500px;
}

#bc {
    position: absolute;
    object-position: 10px 200px;
}

#alb {
    position: absolute;
    object-position: 50px 200px;
}

#on {
    position: absolute;
    object-position: 90px 200px;
}
