.locationCardDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 15vh;
}

.locationCardDiv>* {
    margin-bottom: 12vh;
}

.titleChooseLocation {
    margin: 0px;
    font-size: 3em;
    margin-left: 9vw;
}

.red {
    color: red;
}

.title {
    margin: 0px;
    margin-top: 7vh;
    font-size: 4em;
    margin-left: 9vw;
    margin-bottom: 1vw;
}